fastapi
uvicorn[standard]
pymongo
pydantic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
langchain
langchain-core
langchain-community
langchain-text-splitters
langgraph
langchain-groq
langchain-huggingface
faiss-cpu
pytesseract
pillow
pypdf2
python-dotenv
sentence-transformers
pytest
httpx
cloudinary
